body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.bg-container {
    background-color: #1a79a3;
}

.navbar {
    padding: 10px 20px;
}

.navbar-brand,
.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar a:hover {
    color: #ccc;
}

#intro-text {
    text-align: justify;
    transition: opacity 0.3s;
}

.dark-mode {
    background-color: #121212;
    color: #fff;
}

.dark-mode .bg-container {
    background-color: #333;
}

.dark-mode footer {
    background-color: #222;
    color: #ccc;
}
